/********************
Common styles
********************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 3%;
}

.header {
  position: fixed;
  width: 1920px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: rgba(16, 16, 29, 0.9);
}

.header .logo {
  position: absolute;
  text-decoration: none;
  width: 247px;
  height: 35px;
  left: 375.79px;
  top: 33.5px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header .logo .color {
  color: #42A9ED;
  margin-left: 3px;
}

.header a {
  text-decoration: none;
}

.header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0px;
  position: absolute;
  width: 435px;
  height: 16px;
  left: 1110px;
  top: 44.5px;
  color: #0532fd;
}

main {
  width: 1919px;
  height: 987px;
  left: 0px;
  top: 0px;
  background: url("../images/image.png") no-repeat;
}

main .main_text {
  position: absolute;
  width: 780px;
  height: 125px;
  left: 375px;
  top: 203px;
}

main h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  color: #3E9CDC;
}

main .main_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 534px;
  height: 116px;
  left: 375px;
  top: 408px;
}

main .main_info .heading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

main .main_info .heading .pre {
  position: static;
  width: 267px;
  height: 24px;
  left: 25.94px;
  top: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

main .main_info .heading .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  position: absolute;
  width: 183px;
  height: 43px;
  left: 376px;
  top: 604px;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

main .main_info .heading .button-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  position: absolute;
  width: 183px;
  height: 43px;
  left: 589px;
  top: 604px;
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

main .main_info .heading p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 10px;
  position: absolute;
  width: 183px;
  height: 43px;
  left: 589px;
  top: 604px;
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */